body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div.Monster_stats {
    background: aqua;
    size: auto;
    text-align: left;
    padding: 1%;
    width: 20%;
    float: left;
    margin: 5%;
}

div.Monster_img {
    background: black;
    width: auto;
    height: 250px;
}

div.Hero_stats {
    background: antiquewhite;
    padding: 1%;
    text-align: center;
    width: 20%;
    float: left;
    margin: 5%;
}

div.Big_stats {
    background: aliceblue;
    width: 10%;
    padding: 1%;
    float: left;
}


div.Small_stats {
    background: azure;
    border: solid;
    margin: 1%;
    text-align: center;
}
